@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

img{
    width: 150px;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: "Poppins", serif ;
}
body{
    background-color: rgb(0, 120, 84);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.navigation a:hover {
    color: rgb(151, 253, 170);
}
hr{
    opacity: 35%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}
#i2{
    width: 20px;
}
#i3{
    width: 500px;
    align-items: center;
}
.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}
.heroSub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#id1{
     position: absolute;
     width: 150px;
     left: 80px;
     top: 53%;
     transform: rotate(-30deg); 
}

.name{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.titre{
    font-size: 4rem;
    color: rgb(3, 159, 117);
}
.heroBtns {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
} 
.hireMe {
  background-color: #00b52d;
  color: #eeeeee;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.cv {
  background-color: rgba(57, 62, 70, 0.75);
  color: #eeeeee;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  backdrop-filter: blur(4px);
}
.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}
#i7{
    width: 60px;
}
#i9{
    width: 500px;
    align-items: center;
}
.textContainer{
    display: flex;
    flex-direction: column;
}
.textTitle{
    display:flex ;
    align-items: center;
    gap: 5px;
    font-size: 2rem;  
}
.aboutName{
    color: rgb(255, 255, 255);
}
.aboutTitle{
    color:rgb(4, 174, 123) ;
}
.aboutMePar{
    text-align: justify;
    color: #eeeeee;
}
.works{
    background-image: url("all/svg/background.svg"); 
    padding: 10rem 10rem ;
    margin: 5rem 0rem ;
}
.worksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    max-width: 1200px;
    margin: 5rem auto;
}
.projectTitle{
    display:flex ;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}
.works ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
.works li{
    border-radius: 16px;
    background-color:rgba(54, 91, 101, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}
.works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s;
}
.works li :hover{
    transform: scale(1.5);
}
#d1{
    width: 20px;
}
#d2{
    width: 20px;
}
#d3{
    width: 20px;
}
#d4{
    width: 20px;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}
.contactTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 2rem;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
  gap: 20rem;
}
.contact h3,
.contact a {
  color: #eeeeee;
  text-decoration: none;
}
.emailAndPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  padding: 1rem;
}
.socialMedia img {
  width: 24px;
  height: 24px;
}

footer {
  color: #eeeeee;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1023px) {

  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }
#d1{
    width: 10px;
}
#d2{
    width: 10px;
}
#d3{
    width: 10px;
}
#d4{
    width: 10px;
}

#i7{
    width: 50px;
}
#i9{
    width: 250px;
    align-items: center;
}
#i3{
    width: 250px;
    align-items: center;
}
}
